.ban_cun{

    .ban_cun_img{
        >img{
            width: 100%;
            font-size: 0;
        }
    }

    .agree{   
        width: 100%;
        height:7rem ;
        bottom: 1.266667rem;
        background:url('../../static/images/ban_continu.png') no-repeat;
        padding: .933333rem 0 0;
        box-sizing:border-box;
        font-size: .933333rem;
        font-size: .8rem; 
        color: #B7B7B7;
        text-align: justify;
        .text{
           
            letter-spacing: 0.53px;
        }
        .ji_xu{
            background:#D1324E;
            font-size: 1.066667rem;
        }
        .xia_xu{
            font-size: 1.066667rem; 
            display: block;
            text-decoration: none;
        }
    }  
}