.ban_cun{
    // padding-bottom: 98px; 
    .ban_cun_img{
        .img1{
            position: relative;
            width: 100%;
            font-size: 0;
            img{
                position: relative;
                width: 100%;
                font-size: 0;
            }
            .dianji_ewm{
                display: inline-block;
                position: relative;
                width: 2.466667rem;
                height: 2.466667rem;
                background: rgba(0, 0, 0, 0);
                bottom: 91px;
                left: 96px;
            }
        }
        .img2{
            position: relative;
            width: 100%;
            font-size: 0;
            bottom: 2.333333rem;
            img{
                width: 100%;
                font-size: 0;
            
            }
            .dianji_ewm{
                display: inline-block;
                position: relative;
                width: 2.466667rem;
                height: 2.466667rem;
                background: rgba(0, 0, 0, 0);
                bottom: 91px;
                left: 96px;
            }
        }
    }
    .agree2{
        width: 100%;
        position: fixed;
        height:4rem ;
        bottom: 0;
        background: #1A1A1A;
        // background:url('../../static/images/ban_continu.png') repeat-x center;
        box-sizing:border-box;
        color: #B7B7B7;
        text-align: justify;
        .ji_btn{
            width: 145px;
            height: 26px;
            font-size:16px;
        }
        .text{
           
            letter-spacing: 0.53px;
        }
      
    }  
}